<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD Chofer</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="red">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Editar Chofer</h4>


				<form action="/chofer/actualizar" method="post" th:object="${chofer}">
				    <input type="hidden" th:field="*{idChofer}">
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{nombreChofer}" class="form-control"
									placeholder="Nombres" maxlength="50">
									<i class="form-group__bar"></i>
							        <div class = "form-text text-danger" th:if= "${#fields.hasErrors('nombreChofer')}" th:errors="*{nombreChofer}" ></div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{apellidoChofer}" class="form-control"
									placeholder="Apellidos" maxlength="50">
									<i class="form-group__bar"></i>
			                        <div class = "form-text text-danger" th:if= "${#fields.hasErrors('apellidoChofer')}" th:errors="*{apellidoChofer}" ></div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{numeroPermiso}" class="form-control"
									placeholder="Número de permiso" maxlength="50">
									<i class="form-group__bar"></i>
									<div class = "form-text text-danger" th:if= "${#fields.hasErrors('numeroPermiso')}" th:errors="*{numeroPermiso}" ></div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{telefono}" class="form-control"
									placeholder="Teléfono" maxlength="50">
									<i class="form-group__bar"></i>
									<div class = "form-text text-danger" th:if= "${#fields.hasErrors('telefono')}" th:errors="*{telefono}" ></div>

							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{email}" class="form-control"
									placeholder="Email" maxlength="50">
									<i class="form-group__bar"></i>
									<div class = "form-text text-danger" th:if= "${#fields.hasErrors('email')}" th:errors="*{email}" ></div>

							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Actualizar</button>
								<a href="/chofer/" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				
				
				</form>
				
			</div>
			
		</div>	
		
	
	</section>
</body>
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://images3.alphacoders.com/272/thumb-1920-272267.jpg') no-repeat center center fixed;
      background-size: cover;
    }
</style>
</html>