<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listar Reservas</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gestionar Reserva</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/reserva/crear" class="btn btn-primary">Nueva Reserva</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Reservas</h4>
				<div class="table-responsive">
					<table id="idtablaReserva" class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Origen</th>
								<th>Destino</th>
								<th>Salida</th>
								<th>Retorno</th>
								<th>Clase</th>							
								
							</tr>
						</thead>
						<tbody>
							<th:block th:each="reser : ${reservas}">
								<tr>
									<td th:text="${reser.idRsv}"></td>
									<td th:text="${reser.tipoviaje.origen}"></td>
									<td th:text="${reser.tipoviaje.destino}"></td>
									<td th:text="${reser.salida}"></td>
									<td th:text="${reser.retorno}"></td>
									<td th:text="${reser.categoriareserva.clase}"></td>
									
									
									<td>
										<a class="btn btn-primary" th:href="@{/reserva/editar/{id}(id=${reser.idRsv})}">
											<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
										</a>
									
									
										<a class="btn btn-danger" href="#" th:onclick="'eliminarReserva(' + ${reser.idRsv} + ')'">
											<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</section>
	
	
	<script type="text/javascript">
		$(document).ready( function () {
        $('#idtablaReserva').DataTable();
         } );
		
		function eliminarReserva(id){
			swal({
                title: 'Estas Seguro?',
                text: '!Se eliminara esta Reserva definitivamente!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Si,Eliminar!',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar'
            }).then(function(result){
            	if(result.value){
					$.ajax({
						url: "/reserva/eliminar/" + id,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/reserva/";
                            });
                		}
					})
            	}
			});

		}
	</script>
</body>

<!-- ESTO SE AGREGO <STYLE></STYLE>  -->
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://images3.alphacoders.com/150/thumb-1920-150487.jpg') no-repeat center center fixed;
      background-size: cover;
    }
</style>


</html>