<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listar Soporte</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gestionar Soporte</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/soporte/insertar" class="btn btn-primary">Nueva Solicitud</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Soporte</h4>
				<div class="table-responsive">
					<table id="idtablaSoporte" class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nombre del Usuario</th>
								<th>Detalle del Soporte</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="spt : ${soportes}">
								<tr>
									<td th:text="${spt.idSoporte}"></td>
									<td th:text="${spt.id_usu}"></td>
									<td th:text="${spt.Detalle}"></td>
									<td>
										<a class="btn btn-primary" th:href="@{/soporte/editar/{id}(id=${spt.idSoporte})}">
											<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
										</a>
									
									
										<a class="btn btn-danger" href="#" th:onclick="'eliminarSoporte(' + ${spt.idSoporte} + ')'">
											<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</section>
	
	
	<script type="text/javascript">
		$(document).ready( function () {
        $('#idtablaUnidad').DataTable();
         } );
		
		function eliminarUnidad(id){
			swal({
                title: 'Estas Seguro?',
                text: 'YSe eliminara esta Unidad definitivamente!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Si,Eliminar!',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar'
            }).then(function(result){
            	if(result.value){
					$.ajax({
						url: "/unidad/eliminar/" + id,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/unidad/";
                            });
                		}
					})
            	}
			});

		}
	</script>
</body>
</html>