<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>Soporte</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="red">
		<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Nuevo Detalle de soporte</h4>


				<form id="idRegistrar" action="/soporte/insertar" method="post" th:object="${soporte}">
					<div class="form-row">
							<div class="col-md-6"> 
 							<div class="form-group" req> 
							 <select id="usuario" th:field="*{usuario}" class="form-control" required>
								  <option th:each="u : ${listarusuario}" 
 								th:value="${u.idUsu}"
								th:text="${u.nombreUsu}" /> 
 							</select > 
 							<div "form-text text-danger" th:errorclass="'form-control alert-danger'"  th:if= "${#fields.hasErrors('usuario')}" 
 							th:errors="*{usuario}" ></div>
 							</div> 
 							
 							
						</div>
						
						<div class="col-md-6">
								    <div class="form-group">
				        <input type="text"  required="true" class="form-control" id="detalle" 
				            placeholder="Ingrese Detalle" th:field="*{detalle}" maxlength="100" name="nombre">			          									 
				            <div "form-text text-danger" th:errorclass="'form-control alert-danger'" 
				             th:if= "${#fields.hasErrors('detalle')}" 
 							th:errors="*{detalle}" ></div>							
		      	    </div>
							
							
							
							
						</div>
						
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/soporte/" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				
				
				</form>
				
			</div>
			
		</div>	
		
	
	</section>
</body>
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://i.pinimg.com/originals/e1/00/1e/e1001e86903d5fccba2a7e83a0547bd4.jpg') no-repeat center center fixed;
      background-size: cover;
    }
</style>
    
</html>