<aside class="sidebar">

<!-- Se agrego  style="background-color: White; opacity:.8;  font-weight:
bold;"  en el DIV -->

	<div   style="background-color: White; opacity:.8;  font-weight:
bold;"   class="scrollbar-inner">

		<div class="user">

			<div class="user__info" data-toggle="dropdown">
			
			<!-- Se cambio la imagen por otra -->
				
				<img  width="45px" src="https://img.icons8.com/stickers/344/traffic-jam.png"  >
				
				

				<div>

					<div class="user__name">

						PERÚ IDA Y VUELTA

					</div>

					<div class="user__email">hola@PeruIdaYVuelta.com</div>

				</div>

			</div>



			<div class="dropdown-menu">

				<a class="dropdown-item" href="">View Profile</a> <a

					class="dropdown-item" href="">Settings</a> <a class="dropdown-item"

					href="/">Cerrar sesi&oacute;n</a>

			</div>

		</div>



		<ul  class="navigation">

			<li><a href="/Inicio">
			
			<!-- Se agrego imagen -->
			<img  width="30px"
			 src="https://img.icons8.com/external-victoruler-solid-victoruler/344/external-mansion-buildings-victoruler-solid-victoruler.png" >
			
         Inicio</a></li>


			<li><a href="/chofer">
			<!-- Se agrego imagen -->
			<img  width="30px"
			 src="https://img.icons8.com/ios-filled/344/driver.png" >
					Chofer</a></li>
					
			<li><a href="/unidad/">
			
			<!-- Se agrego imagen -->
			
			<img  width="30px"
			 src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/344/external-bus-transportation-smashingstocks-glyph-smashing-stocks-2.png" >

					Unidades</a></li>

			<li><a href="/usuario">
			
			<!-- Se agrego imagen -->
			<img  width="30px"
			 src="https://img.icons8.com/ios-filled/344/checked-user-male.png" >
  
					Usuario</a></li>
					
			<li><a href="/destino">
			
			<!-- Se agrego imagen -->
			<img  width="30px"
			 src="https://img.icons8.com/ios-filled/344/worldwide-location--v1.png" >
		
					Destinos</a></li>
					
							
			<li><a href="/reserva/">
			
			<!-- Se agrego imagen -->
			<img  width="30px" src="https://img.icons8.com/pastel-glyph/344/--rolling-luggage--v1.png" >

					Reservas</a></li>
		</ul>
		
		

	</div>

</aside>