<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="principal :: head">
		
</head>
<body>
  <div class="container">
   	<h1>Actualizar Unidades</h1>
   	<form action="/unidades/editar/grabar" method="post" th:object = "${unidad}">
   	
   	<div class="form-group">
    <label for="inputId">Id :</label>
    <input type="text" th:field="*{id}"
     class="form-control" id="inputId">
  </div>
   	
  <div class="form-group">
    <label for="inputFecha">Fecha de Compra :</label>
    <input type="text" th:field="*{fecha}"
     class="form-control" id="inputFecha" placeholder="YYYY-MM-DD">
  </div>
  
  <div class="form-group">
    <label for="inputDetalle">Detalle de Unidad :</label>
    <input type="text" th:field="*{nom}"
    class="form-control" id="inputDetalle" placeholder="Carro del año">
  </div>
  
  <div class="form-group">
    <label for="inputPlaca">placa :</label>
    <input type="text" th:field="*{placa}"
    class="form-control" id="inputPlaca" placeholder="Ingrese la Placa">
  </div>
  
  <button type="submit" class="btn btn-primary">Actualizar Unidad</button>
</form>
<br />
   </div>

<footer th:replace="Principal :: footer">
   </footer>
</body>
</html>