<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD Chofer</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="red">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Bienvenido</h4>
			</div>
		</div>	
	</section>
</body>
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://images2.alphacoders.com/104/104100.jpg') no-repeat center center fixed;
      background-size: cover;
    }
</style>
</html>