<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>CRUD Chofer</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="red">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Nueva Oferta</h4>


				<form id="idRegistrar" action="/oferta/agregar" method="post" th:object="${oferta}">
					<div class="form-row">
					
							<div class="col-md-6"> 
 							<div class="form-group"> 
							 <select th:field="*{usuario}" class="form-control">
							 <option value="-1">Seleccione</option> 
								  <option th:each="u : ${listarusuario}" 
 								th:value="${u.idUsu}"
								th:text="${u.nombreUsu}" /> 
 							</select> 
 							</div> 
						</div>
					
						<div class="col-md-6">
							<div class="form-group">
								<input type="number" th:field="*{descuento}" class="form-control" th:errorclass="'form-control alert-danger'"
									placeholder="Decuento">
									<i class="form-group__bar"></i>
                                     <div class = "form-text text-danger" th:if= "${#fields.hasErrors('descuento')}" th:errors="*{descuento}" ></div>
							</div>
						</div>
						
						
						
			
					</div>
					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/oferta/" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				
				
				</form>
				
			</div>
			
		</div>	
		
	
	</section>
</body>
  <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://img.freepik.com/foto-gratis/enfoque-selectivo-miniatura-turistica-brujula-sobre-mapa-avion-juguete-plastico-fondo-abstracto-viajar-concepto_1423-180.jpg?w=2000') no-repeat center center fixed;
      background-size: cover;
    }
</style>
    
</html>