<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Oferta</title>
<th:block th:insert="fragments/resources"></th:block>


</head>
<body data-ma-theme="red">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Registrar Oferta</h4>


				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/oferta/nuevo" class="btn btn-primary">Agregar oferta</a>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>	
		
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de ofertas</h4>
				
				<div class="table-responsive">
					<table id="idtablaoferta" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Usuario</th>
								<th>Descuento</th>
							</tr>

						</thead>
						<tbody>
							<th:block th:each="oferta : ${ofertas}">
								<tr>
									<td th:text="${oferta.idOferta}"></td>
									<td th:text="${oferta.usuario.nombreUsu}"></td>
									<td th:text="${oferta.descuento}"></td>
									<td>
										<a class="btn btn-primary" th:href="@{/oferta/editar/{idOferta}(idOferta=${oferta.idOferta})}">
											<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
										</a>
									
									
										<a class="btn btn-danger" href="#" th:onclick="'eliminarOferta(' + ${oferta.idOferta} + ')'">
											<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
										</a>
									
									
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	
	</section>
	
	
	<script type="text/javascript">
		
		$(document).ready( function () {
        $('#idtablaoferta').DataTable();
         } );
		
		
		function eliminarOferta(idOferta){
			swal({
                title: 'Are you sure?',
                text: 'You will not be able to recover this imaginary file!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonClass: 'btn btn-secondary'
            }).then(function(result){
            	if(result.value){
					$.ajax({
						url: "/oferta/eliminar/" + idOferta,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/oferta/";
                            });
                		}
					})
            	}
			});

		}
	</script>
	
</body>
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://img.freepik.com/foto-gratis/enfoque-selectivo-miniatura-turistica-brujula-sobre-mapa-avion-juguete-plastico-fondo-abstracto-viajar-concepto_1423-180.jpg?w=2000') no-repeat center center fixed;
      background-size: cover;
    }
</style>
</html>