<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Reclamos</title>
<th:block th:insert="fragments/resources"></th:block>
</head>
<body data-ma-theme="red">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gestionar Reclamos</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/libro/nuevo" class="btn btn-primary">Nuevo Reclamo</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista Reclamos</h4>
				<div class="table-responsive">
					<table id="idtablaLibro" class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Establecimiento</th>
								<th>Nombre</th>
								<th>Apellido Pa.</th>
								<th>Apellido Ma.</th>
								<th>Direccion</th>							
								
							</tr>
						</thead>
						<tbody>
							<th:block th:each="lib : ${libro}">
								<tr>
									<td th:text="${lib.idlibro}"></td>
									<td th:text="${lib.establecimiento.ciudad}"></td>
									<td th:text="${lib.nombre}"></td>
									<td th:text="${lib.apellidopa}"></td>
									<td th:text="${lib.apellidoma}"></td>
									<td th:text="${lib.direccion}"></td>													
									<td>
										<a class="btn btn-primary" th:href="@{/libro/editar/{idlibro}(idlibro=${lib.idlibro})}">
											<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
										</a>
									
									
										<a class="btn btn-danger" href="#" th:onclick="'eliminarLibro(' + ${lib.idlibro} + ')'">
											<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
										</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</section>  
	
	
	<script type="text/javascript">
		$(document).ready( function () {
        $('#idtablaLibro').DataTable();
         } );
		
		function eliminarLibro(id){
			swal({
                title: 'Estas Seguro?',
                text: '!Se eliminara esta Solicitud de reclamo definitivamente!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Si,Eliminar!',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar'
            }).then(function(result){
            	if(result.value){
					$.ajax({
						url: "/libro/eliminar/" + id,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/libro/";
                            });
                		}
					})
            	}
			});

		}
	</script>
</body>

<!-- ESTO SE AGREGO <STYLE></STYLE>  -->
 <style th:fragment="style">
    body{
      height: 100vh;
      background: url('https://images3.alphacoders.com/150/thumb-1920-150487.jpg') no-repeat center center fixed;
      background-size: cover;
    }
</style>


</html>